<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<body style="background-color: black; ">
    <h1 style="color: white; margin: auto; width: 50%; padding: 10px">Text Sentiment Analyzer</h1>
    <form action="" method="post" style="margin: auto; width: 50%; border: 3px solid aqua; padding: 10px; background-color: darkblue">
        <textarea id="document" name="document" rows="8" cols="100">Enter your document to be analyzed here!</textarea>
        <br><br>
        <input type="submit" value="Analyze Document" style="background-color: white; color: black;">
    </form>
</body>
</html>