<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
</head>
<body style="background-color: black;">
    <h1 style="color: white; margin: auto; width: 50%; padding: 10px">Summary</h1>
    <div style="margin: auto; width: 50%; border: 3px solid aqua; padding: 10px; background-color: darkblue;">
        <div style="background-color: white; padding: 2px;">
            <p>Positive: {{ positive }}</p>
            <p>Negative: {{ negative }}</p>
            <p>Total Number of Documents: {{ total }}</p>
        </div>
    </div>
</body>
</html>